* {
    box-sizing: border-box;
}
body    {
    background: url("../images/Multicolor-Show-Page-Background.jpg");
}
.col-md-8  {
    background: black;
    height: auto;
    border: rgb(223, 223, 114) ridge 5px;
}
#title  {
    text-align: center;
    padding-top: 2vh;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 20vw;
    color: rgb(223, 223, 114);
    font-size: 15vh;
}
#timer {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    font-size: 5vh;
    color: #4e33ec;
}
.quiz   {
    display: none;
}
#results    {
    display: none;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3vw;
    color: rgb(223, 223, 114);
}
#start  {
    width: 5vw;
    display: flex;
    margin: 0 auto;
    margin-top: 15vh;
    margin-bottom: 10vh;
    justify-content: center;
    background: rgb(223, 223, 114);
    height: 15vh;
    width: 20vw;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3vw;
    border: solid rgb(36, 44, 119) 3px;
}
#submit {
    width: 25vw;
    height: 10vh;
    background: rgb(223, 223, 114);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3vw;
    border: solid rgb(36, 44, 119) 3px;
    margin-bottom: 10vh;
    margin-top: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.question  {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    color: rgb(238, 109, 109);
    margin-top: 30px;
} 